* {
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(to bottom, #eb77ff, rgb(116, 220, 255));
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	color: white;
	font-family: sans-serif;
	user-select: none;
}

#board {
	background-color: rgba(0, 0, 0, 0.4);
	border: 10px solid white;
	border-radius: 2%;
	width: 700px;
	height: 700px;
	border-spacing: 0px;
	table-layout: fixed;
}

.tile {
	color: black;
	font-size: 3.7rem;
	text-align: center;
	width: 82px;
	height: 82px;
	transition: font-size 0.3s;
	box-sizing: border-box;
}
.tile:hover {
	border: 2px solid black;
	font-size: 3.2rem;
	transition: font-size 0.3s;
	cursor: pointer;
}

.white {
	background-color: #ebebd0;
}
.white:hover {
	background-color: #ebebd0de;
}

.black {
	background-color: #779556;
}
.black:hover {
	background-color: #759556d5;
}

.letter,
.number {
	font-weight: bold;
	text-align: center;
}

.letter {
	height: 22px;
}

.number {
	width: 22px;
}

.selected {
	background-color: #f6f669;
	border: 1px solid black;
}
.selected:hover {
	background-color: #f6f669;
}

.move {
	position: relative;
}
.move::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 25%;
	height: 25%;
	border-radius: 50%;
	background-color: rgba(255, 0, 200, 0.6);
	border: 1px solid black;
	transform: translate(-50%, -50%);
}

#utils {
	display: flex;
	justify-content: center;
	margin-bottom: 2px;
}

#turn {
	width: 200px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	margin-bottom: 5px;
	font-size: 35px;
	font-weight: bold;
}

.white-turn {
	background-color: white;
	color: black;
	border: 2px solid black;
}

.black-turn {
	background-color: black;
	color: white;
	border: 2px solid white;
}

#restart {
	margin-left: 10px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	font-size: 35px;
	height: 54px;
	border: 2px solid black;
	padding: 5px;
	box-sizing: border-box;
	transition: background-color 0.4s;
}

#restart:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.6);
	transition: background-color 0.4s;
}

#upgrade-container {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
}

#upgrade {
	background-color: rosybrown;
	width: 660px;
	height: 200px;
	border: 5px solid black;
	border-radius: 10px;
	text-align: center;
	color: black;
}

#upgrade p {
	font-size: 2rem;
	margin: 20px 0 20px;
}
#upgrade i {
	font-size: 6rem;
	margin: 0 20px 0;
}
#upgrade i:hover {
	color: white;
	transition: 0.3s;
	cursor: pointer;
}

#notification-container {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 1;
}

.notification {
	background-color: white;
	border-radius: 5px;
	border: 1px solid black;
	color: black;
	font-weight: bold;
	width: 250px;
	padding: 10px;
	margin: 0 0 10px;
	text-align: center;
}
