* {
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(to bottom, #eb77ff, rgb(116, 220, 255));
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	color: white;
	font-family: sans-serif;
}

#board {
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 2%;
	width: 700px;
	height: 700px;
	border-spacing: 0px;
	table-layout: fixed;
	user-select: none;
}

.tile {
	color: black;
	font-size: 3.7rem;
	text-align: center;
	width: 82px;
	height: 82px;
	transition: font-size 0.3s;
	box-sizing: border-box;
}
.tile:hover {
	border: 2px solid black;
	font-size: 3.2rem;
	transition: font-size 0.3s;
	cursor: pointer;
}

.white {
	background-color: #ebebd0;
}
.white:hover {
	background-color: #ebebd0de;
}

.black {
	background-color: #779556;
}
.black:hover {
	background-color: #759556d5;
}

.letter,
.number {
	font-weight: bold;
	text-align: center;
}

.letter {
	height: 22px;
}

.number {
	width: 22px;
}

.selected {
	background-color: #f6f669;
	border: 1px solid black;
}
.selected:hover {
	background-color: #f6f669;
}

.move {
	position: relative;
}
.move::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30%;
	height: 30%;
	border-radius: 50%;
	background-color: rgba(255, 0, 200, 0.7);
	border: 1px solid black;
	transform: translate(-50%, -50%);
}

#turn {
	width: 150px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	margin-bottom: 5px;
}

.white-turn {
	background-color: white;
	color: black;
	border: 2px solid black;
}

.black-turn {
	background-color: black;
	color: white;
	border: 2px solid white;
}
