* {
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(to bottom, #eb77ff, rgb(116, 220, 255));
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	color: white;
	font-family: sans-serif;
}

#board {
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 2%;
	width: 700px;
	height: 700px;
	border-spacing: 0px;
	table-layout: fixed;
	user-select: none;
}

.tile {
	color: black;
	font-size: 3.7rem;
	text-align: center;
	width: 82px;
	height: 82px;
	transition: font-size 0.3s;
}
.tile:hover {
	outline: 2px solid black;
	font-size: 3.3rem;
	transition: font-size 0.3s;
	cursor: pointer;
}

.white {
	background-color: #ebebd0;
}
.white:hover {
	background-color: #ebebd0de;
}

.black {
	background-color: #779556;
}
.black:hover {
	background-color: #759556d5;
}

.letter,
.number {
	font-weight: bold;
	text-align: center;
}

.letter {
	height: 22px;
}

.number {
	width: 22px;
}

.selected {
	background-color: #f6f669;
	border: 1px solid black;
	box-sizing: border-box;
}
.selected:hover {
	background-color: #f6f669;
}
